# This file is a pattern. You can place it, at $HOME/.afuryc.conf or $HOME/.config/afuryc.conf
# You must apply a chmod 600 on it!
### FTP ###
USERF="foo"
PASSF="foopass"
FTPURL="ftp://afur.archlinux.fr"
### MAKEPKG ###
PACKAGER=""
